body{
	 background-color: white;
	 color: black;
}

header{
	text-align: center;
}

header .topBar img{
	width: 100%;
	border-image: 3px;
	border-color: blue;
}

.backButton a{
	color: black;
}

.navbar-centered{
	display: inline-block;
  	float: none;
	text-align: center;
	background-color: @brand-primary: darken(#428bca, 6.5%);
}

.more {
	display: none;
	border-top: 1px solid #666;
	border-bottom: 1px solid #666; }
a.showLink {
	text-decoration: none;
	color: #36f;
	padding-left: 8px;
}
a.showLink:hover{
	border-bottom: 1px dotted #36f; 
}


